<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443018308784-po4cnf9mct7d51tl45k13b9bi6b9j037.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443018308784-po4cnf9mct7d51tl45k13b9bi6b9j037</string>
	<key>API_KEY</key>
	<string>AIzaSyAXxztkDvm82sZIfkmvlzC7l20zWu3yj_w</string>
	<key>GCM_SENDER_ID</key>
	<string>443018308784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>newapp.example.newApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>apptime-d7026</string>
	<key>STORAGE_BUCKET</key>
	<string>apptime-d7026.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443018308784:ios:3f2ac9b9d5af5435691f75</string>
</dict>
</plist>